<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reddit-clone admin panel</title>

    <div th:replace="fragments/header :: header-css"></div>

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h1>Reddit Management System</h1>
    <hr>
    <h2>Save Subreddit</h2>

    <form action="#" th:action="@{/subreddits/add}" th:object="${subreddit}"
          method="POST">
        <input type="text" id="name" th:field="*{name}" placeholder="Subreddit Name"
               class="form-control mb-4 col-4"
        >
        <ul class="text-danger" th:if="${#fields.hasErrors('name')}"
            th:errors="*{name}">
            <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
        </ul>
        <input type="text"
               id="description"
               th:field="*{description}" placeholder="Subreddit Description"
               class="form-control mb-4 col-4"
        >
        <ul class="text-danger" th:if="${#fields.hasErrors('description')}"
            th:errors="*{description}">
            <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
        </ul>

        <button type="submit" class="btn btn-info col-2">Save
            Subreddit
        </button>
    </form>

    <hr>

    <a th:href="@{/subreddits}"> Back to Subreddits List</a>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>