<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reddit-clone admin panel</title>

    <div th:replace="fragments/header :: header-css"></div>

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container my-2" align="center">

    <table border="1" class="table table-striped table-responsive-md">
        <tbody>
        <tr>
            <td>ID</td>
            <td th:text="${subreddit.id}"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td th:text="${subreddit.name}"></td>
        </tr>
        <tr>
            <td>Creation Date</td>
            <td th:text="${#dates.format(subreddit.createdAt, 'dd-MM-yyyy HH:mm')}"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td th:text="${subreddit.description}"></td>
        </tr>
        <tr>
            <td>Author</td>
            <td>
                <a th:href="@{/users/{name}(name=${subreddit.author})}"
                   th:text="${subreddit.author}"></a>
            </td>
        </tr>
        <tr>
            <td>Number of users</td>
            <td>
                <a th:href="@{/subreddits/{name}/users(name=${subreddit.name})}"
                   th:text="${subreddit.numberOfUsers}"></a>
            </td>
        </tr>
        <tr>
            <td>Number of posts</td>
            <td>
                <a th:href="@{/subreddits/{name}/posts(name=${subreddit.name})}"
                   th:text="${subreddit.numberOfPosts}"></a>
            </td>
        </tr>
        <tr>
            <td>Actions</td>
            <td>
                <a th:href="@{/subreddits/update/{id}(id=${subreddit.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/subreddits/deleteSubreddit/{id}(id=${subreddit.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>