<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reddit-clone admin panel</title>

    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <hr/>
    <h2>Add Comment</h2>

    <form
            action="#"
            th:action="@{/posts/{id}/comments(id=${comment.postId})}"
            th:object="${comment}"
            method="POST"
    >
        <input
                type="text"
                id="title"
                th:field="*{body}"
                placeholder="Body"
                class="form-control mb-4 col-4"
        />
        <ul
                class="text-danger"
                th:if="${#fields.hasErrors('body')}"
                th:errors="*{body}"
        >
            <li
                    th:each="err : ${#fields.errors('body')}"
                    th:text="${err}"
            ></li>
        </ul>

        <button type="submit" class="btn btn-info col-2">
            Add Comment
        </button>
    </form>

    <hr/>

    <a th:href="@{/posts/{id}(id=${comment.postId})}">Back to post</a>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
