<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reddit-clone admin panel</title>

    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <hr/>
    <h2>Update Subreddit</h2>

    <form
            action="#"
            th:action="@{/subreddits/update}"
            th:object="${subreddit}"
            method="POST"
    >
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{name}"/>

        <input
                type="text"
                th:field="*{description}"
                class="form-control mb-4 col-4"
                placeholder="Description"
        />
        <ul
                class="text-danger"
                th:if="${#fields.hasErrors('description')}"
                th:errors="*{description}"
        >
            <li
                    th:each="err : ${#fields.errors('description')}"
                    th:text="${err}"
            ></li>
        </ul>

        <input
                type="text"
                th:field="*{imageUrl}"
                class="form-control mb-4 col-4"
                placeholder="Image URL"
        />
        <ul
                class="text-danger"
                th:if="${#fields.hasErrors('imageUrl')}"
                th:errors="*{imageUrl}"
        >
            <li
                    th:each="err : ${#fields.errors('imageUrl')}"
                    th:text="${err}"
            ></li>
        </ul>

        <input
                type="text"
                th:field="*{bannerUrl}"
                class="form-control mb-4 col-4"
                placeholder="Banner URL"
        />
        <ul
                class="text-danger"
                th:if="${#fields.hasErrors('bannerUrl')}"
                th:errors="*{bannerUrl}"
        >
            <li
                    th:each="err : ${#fields.errors('bannerUrl')}"
                    th:text="${err}"
            ></li>
        </ul>

        <button type="submit" class="btn btn-info col-2">
            Update Subreddit
        </button>
    </form>

    <hr/>

    <a th:href="@{/subreddits/{id}(id=${subreddit.id})}">
        Back to Subreddit
    </a>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
